
<
<div class="container-fluid">
    <div class="row">

        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main table-responsive">
            <h1 class="page-header">Admin</h1>
            <h2>Users</h2>

            <table class="table table-bordered table-striped table-hover">
                <thead>
                <tr>
                    <th> <a class="dropdown-toggle" data-toggle="dropdown"> &nbps; Username
                        <span class="caret"></span></a></th>
                    <th> <a class="dropdown-toggle" data-toggle="dropdown"> &nbps; Password
                        <span class="caret"></span></a></th>
                    <th> <a class="dropdown-toggle" data-toggle="dropdown"> &nbps; Role
                        <span class="caret"></span></a></th>
                    <th> <a class="dropdown-toggle" data-toggle="dropdown"> &nbps; Action
                        <span class="caret"></span></a></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td><div class="col-sg-2">
                        <input type="text" class="form-control" placeholder="username">
                    </div></td>
                    <td><div class="col-sg-2">
                        <input type="text" class="form-control" placeholder="password">
                    </div></td>
                    <td><div class="col-sg-2">
                        <input type="text" class="form-control" placeholder="role1, role2">
                    </div></td>
                    <td><a href="#" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span></a>
                        <a href="#" class="btn btn-primary"><span class="glyphicon glyphicon-ok"></span></a>
                    </td>
                </tr>
                <tr>
                    <td>Alice</td>
                    <td></td>
                    <td>student</td>
                    <td> <a href="#" class="btn btn-danger"> <span class="glyphicon glyphicon-remove"></span></a>
                         <a href="#" class="btn btn-warning"> <span class="glyphicon glyphicon-pencil"></span></a></td>
                </tr>

                <tr>
                    <td>Ben</td>
                    <td></td>
                    <td>faculty|admin</td>
                    <td> <a href="#" class="btn btn-danger"> <span class="glyphicon glyphicon-remove"></span></a>
                         <a href="#" class="btn btn-warning"> <span class="glyphicon glyphicon-pencil"></span></a></td>
                </tr>

                <tr>
                    <td>Charlie</td>
                    <td></td>
                    <td></td>
                    <td> <a href="#" class="btn btn-danger"> <span class="glyphicon glyphicon-remove"></span></a>
                         <a href="#" class="btn btn-warning"> <span class="glyphicon glyphicon-pencil"></span></a></td>
                </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>
