<div class="container-fluid">
    <div class="row">

        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

            <h1>Hospital Info</h1>
            <h2> Hospital Name: {{hospital[0].hospital_name}}</h2>
            <h2> Type: {{hospital[0].hospital_type}}</h2>
            <h2> Address: {{hospital[0].address}}</h2>
            <h2> Zip Code: {{hospital[0].zip_code}}</h2>
            <h2> City: {{hospital[0].city}}</h2>
            <h2> State: {{hospital[0].state}}</h2>
            <h2> Phone Number: {{hospital[0].phone_number.phone_number}}</h2>


        </div>

    </div>

</div>