<div class="col-md-12">
    <div class="row search-text">
        <div class="col-sm-8 col-sm-offset-2">
            <h2>Search Physician's by city</h2>
            <form>
                <div class="input-group input-group-lg">
                    <input type="text" class="form-control input-lg" placeholder="e.g. Boston" ng-model="model.city"/>
                <span class="input-group-btn">
                    <a class="btn btn-info btn-lg" type="submit" ng-click="model.search(model.city)"><i class="fa fa-search"></i></a>
                </span>
                </div>
            </form>
        </div>
    </div>

    <br>
    <div ng-show="model.message" class="alert alert-danger" role="alert">{{model.message}}</div>

    <div ng-show="model.physicians">
    <strong><h2>Physician Details</h2></strong>

    <table class="table table-bordered table-responsive">
        <thead>
        <tr>
            <th>
                <span class="sortorder" ng-show="model.predicate == 'ind_pac_id'" ng-class="{reverse:model.reverse}"></span>
                <a ng-click="model.toggleSort('ind_pac_id')" href="">
                    PAC ID
                </a>
            </th>
            <th>
                <span class="sortorder" ng-show="model.predicate == 'frst_nm'" ng-class="{reverse:model.reverse}"></span>
                <a ng-click="model.toggleSort('frst_nm')" href="">
                    First Name
                </a>
            </th>
            <th>
                <span class="sortorder" ng-show="model.predicate == 'lst_nm'" ng-class="{reverse:model.reverse}"></span>
                <a ng-click="model.toggleSort('lst_nm')" href="">
                    Last Name
                </a>
            </th>
            <th>
                <span class="sortorder" ng-show="model.predicate == 'med_sch'" ng-class="{reverse:model.reverse}"></span>
                <a ng-click="model.toggleSort('med_sch')" href="">
                    Medical School Attended
                </a>
            </th>
            <th>
                <span class="sortorder" ng-show="model.predicate == 'grd_yr'" ng-class="{reverse:model.reverse}"></span>
                <a ng-click="model.toggleSort('grd_yr')" href="">
                    Graduation Year
                </a>
            </th>
            <th>
                <span class="sortorder" ng-show="model.predicate == 'pri_spec'" ng-class="{reverse:model.reverse}"></span>
                <a ng-click="model.toggleSort('pri_spec')" href="">
                    Primary Speciality
                </a>
            </th>
            <th>Address</th>
            <th>Zipcode</th>
        </tr>
        </thead>

        <tbody>
        <tr ng-repeat="physician in model.physicians">
            <td>{{physician.ind_pac_id}}</td>
            <td>{{physician.frst_nm}}</td>
            <td>{{physician.lst_nm}}</td>
            <td>{{physician.med_sch}}</td>
            <td>{{physician.grd_yr}}</td>
            <td>{{physician.pri_spec}}</td>
            <td>{{physician.adr_ln_1}}</td>
            <td>{{physician.zip}}</td>
        </tr>
        </tbody>
    </table>
    </div>

</div>