<div class="col-md-6 col-md-offset-3 login">
    <div class="panel panel-info">
        <div class="panel-heading">
            <h4 class="text-center"><strong>Login</strong></h4>
        </div>
        <div class="panel-body">
            <form class="form-horizontal">
                <fieldset>
                    <div class="form-group">
                        <label for="userName" class="col-md-2 control-label">Username:</label>
                        <div class="col-md-10">
                            <input type="text" class="form-control" id="userName" placeholder="Username" ng-model="model.user.username">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="password" class="col-md-2 control-label">Password:</label>
                        <div class="col-md-10">
                            <input type="password" class="form-control" id="password" placeholder="Password" ng-model="model.user.password">
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-10 col-md-offset-2">
                            <button type="submit" ng-click="model.login(model.user)" class="btn btn-success btn-block">Login</button>
                        </div>
                    </div>
                </fieldset>
                <div class="text-right">
                    <a title="Forgot Password?" href="mailto:kadam.a@husky.neu.edu?Subject=Medical Tourism Forgot Password">Forgot Password?</a>
                </div>
                <div ng-show="model.message" class="validate alert alert-danger">
                    <a class="close" data-dismiss="alert"><i class="fa fa-remove"></i></a>{{model.message}}
                </div>
            </form>
        </div>
    </div>
</div>