<div class="col-md-8 col-md-offset-2">
    <h2 class="text-center"><strong>Profile</strong></h2>
    <br>

    <form class="form-horizontal">
        <div class="form-group">
            <label for="userName" class="col-md-3 control-label">Username:</label>
            <div class="col-md-9">
                <input type="text" class="form-control" id="userName" placeholder="Username" ng-model="model.currentUser.username" disabled>
            </div>
        </div>

        <div class="form-group">
            <label for="password" class="col-md-3 control-label">Password:</label>
            <div class="col-md-9">
                <input type="password" class="form-control" id="password" placeholder="Password" ng-model="model.currentUser.password">
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-9 col-md-offset-3">
                <input id="changePwd" type="checkbox" ng-model="model.changePassword"/>&nbsp;&nbsp;&nbsp;Change&nbsp;Password
            </div>
        </div>

        <div class="form-group">
            <label for="firstName" class="col-md-3 control-label">First Name:</label>
            <div class="col-md-9">
                <input type="text" class="form-control" id="firstName" placeholder="Firstname" ng-model="model.currentUser.firstName">
            </div>
        </div>

        <div class="form-group">
            <label for="lastName" class="col-md-3 control-label">Last Name:</label>
            <div class="col-md-9">
                <input type="text" class="form-control" id="lastName" placeholder="Lastname" ng-model="model.currentUser.lastName">
            </div>
        </div>

        <div class="form-group">
            <label for="email" class="col-md-3 control-label">Email:</label>
            <div class="col-md-9">
                <input type="email" class="form-control" id="email" placeholder="Email" ng-model="model.currentUser.email">
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-3 col-md-9">
                <a class="btn btn-success btn-block" ng-click="model.updateUser(model.currentUser)">Update</a>
            </div>
        </div>
    </form>


    <div ng-show="model.message" class="alert alert-success" role="alert">
        <a class="close" data-dismiss="alert"><i class="fa fa-remove"></i></a>{{model.message}}
    </div>
    <div ng-show="model.error" class="alert alert-danger" role="alert">
        <a class="close" data-dismiss="alert"><i class="fa fa-remove"></i></a>{{model.error}}
    </div>

    <br><br>

</div>

<div ng-if="!currentUser.expert && !currentUser.admin" class="col-md-12">

    <div class="col-sm-6">
        <div class="panel panel-primary">
            <div class="panel-heading"> Bookmarked Hospitals</div>
            <div class="panel-body table-responsive fixed-panel">
                <ul class="list-inline">
                    <li ng-repeat="hospital in model.currentUser.bookmarked">
                        <a href="#/details/{{hospital.providerId}}"><i class="fa fa-hospital-o"></i>&nbsp;{{hospital.hospitalName}}</a>
                    </li>
                </ul>

            </div>
        </div>
    </div>


    <div class="col-sm-6">
        <div class="panel panel-primary">
            <div class="panel-heading">Your Reviews</div>
            <div class="panel-body fixed-panel">
                <ul class="list-inline">
                    <li ng-repeat="review in model.reviews" class="col-xs-4">
                        {{review.review}}&nbsp;{{review.rating}}&nbsp;{{review.hospitalName}}
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="col-sm-12">
        <br><br>
        <div class="panel panel-primary">
            <div class="panel-heading">Your Quote</div>
            <div class="panel-body fixed-panel">
                {{model.quote}} {{model.qmsg}}
               <!-- <ul class="list-inline">
                    <li ng-repeat="model.quote" class="col-xs-4">
                        {{quote.response}}
                    </li>
                </ul>-->
            </div>
        </div>
    </div>

</div>

<!--<div ng-if="currentUser.expert" class="col-md-8 col-md-offset-2">
    <br><br>
    <div class="panel panel-primary">
        <div class="panel-heading">User Quotes</div>
        <div class="panel-body fixed-panel">
            <ul class="list-inline">
                <li ng-repeat="model.quote" class="col-xs-6">
                    {{quote.response}}

                </li>
            </ul>
        </div>
    </div>
</div>-->

<div ng-if="currentUser.expert" class="col-md-8 col-md-offset-2">
    <br><br>
    <ul class="list-inline">
        <li ng-repeat="q in model.quotes">
            <div class="panel panel-info">
                <div class="panel-heading">Quote Request From: {{q.firstName}}</div>
                <div class="panel-body fixed-panel">
                    <div>{{q.message}}{{model.aqmsg}}</div>
                    <div><input type="text" class="form-control" id="message" placeholder="Type response" ng-model="qmessage"></div>
                </div>
                <div class="panel-footer">
                    <a class="btn btn-success btn-block" ng-click="model.updateQuote(qmessage, q.username)">Send Quote</a>
                </div>
            </div>
        </li>
    </ul>
</div>