<div class="panel panel-primary col-sm-6">
    <div class="panel-heading">
        <div class="row">
               <strong><h2 class="text-left">{{model.hospital[0].hospital_name}}</h2></strong>
        </div>
    </div>

    <div class="panel-body">
        <p><strong><h3> Type: {{model.hospital[0].hospital_type}}</h3></strong></p>
        <p><strong><h3> Address: {{model.hospital[0].address}}</h3></strong></p>
        <p><strong><h3> ZipCode: {{model.hospital[0].zip_code}}</h3></strong></p>
        <p><strong><h3> City: {{model.hospital[0].city}}</h3></strong></p>
        <p><strong><h3> State: {{model.hospital[0].state}}</h3></strong></p>
        <p><strong><h3> Phone Number: {{model.hospital[0].phone_number.phone_number}}</h3></strong></p>
    </div>

</div>

<div class="panel panel-primary col-sm-6">
    <div class="panel-heading">
       <h2> USER ACTIONS </h2>
    </div>
    <div class="panel-body">
        <button  class="btn btn-group-justified" ng-click="model.addHospitalToFavourites()" ng-show="currentUser" type="submit"><h4>Add to Favourite</h4></button><br>
        <button  class="btn btn-group-justified" ng-click="model.addReview()" ng-show="currentUser" type="submit"><h4>Reviews</h4></button><br>
        <button  class="btn btn-group-justified" ng-click="model.findAccommodation()" ng-show="currentUser" type="submit"><h4>Find Apartment</button></h4><br>
        <button  class="btn btn-group-justified" ng-click="model.askTheExpert()" ng-show="currentUser" type="submit"><h4>Ask the Expert</h4></button>
    </div>
</div>

<br>
<div class="panel panel-primary col-sm-12">
    <div class="panel-heading">
        <strong><h2>Timely and Effective Care Information</h2></strong>
    </div>

    <div class="panel-body">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Condition</th>
                <th>Measure Name</th>
                <th>Score</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="care in model.careInfo">
                <td>{{care.condition}}</td>
                <td>{{care.measure_name}}</td>
                <td>{{care.score}}</td>
            </tr>
            </tbody>
        </table>
    </div>

</div>

