<div class="col-md-8 col-md-offset-2">

    <div class="panel panel-grid panel-info">

        <div class="panel-heading">

            <div>
                <i class="fa fa-ambulance fa-4x pull-right"></i>
                <h1 class="custom-heading">{{model.hospital[0].hospital_name}}</h1>
            </div>

        </div>

        <div class="panel-body">
            <p><strong> Type: {{model.hospital[0].hospital_type}}</strong></p>
            <p><strong> Address: {{model.hospital[0].address}}</strong></p>
            <p><strong> ZipCode: {{model.hospital[0].zip_code}}</strong></p>
            <p><strong> City: {{model.hospital[0].city}}</strong></p>
            <p><strong> State: {{model.hospital[0].state}}</strong></p>
            <p><strong> Phone Number: {{model.hospital[0].phone_number.phone_number}}</strong></p>
        </div>

        <div class="panel-footer">
            <button ng-hide="model.isBookmarked" ng-click="model.bookmark()" class="btn btn-primary">Bookmark Hospital</button>
            <button ng-show="model.isBookmarked" ng-click="model.unbookmark()" class="btn btn-primary">Unbookmark Hospital</button>
        </div>
    </div>
</div>

<!--<div class="panel panel-primary col-sm-6">
    <div class="panel-heading">
       <h2> USER ACTIONS </h2>
    </div>
    <div class="panel-body">
        <button  class="btn btn-group-justified" ng-click="model.bookmarkHospital()" ng-show="currentUser" type="submit"><h4>Bookmark this Hospital</h4></button><br>
        <button  class="btn btn-group-justified" ng-click="model.addReview()" ng-show="currentUser" type="submit"><h4>Reviews</h4></button><br>
        <button  class="btn btn-group-justified" ng-click="model.findAccommodation()" ng-show="currentUser" type="submit"><h4>Find Apartment</button></h4><br>
        <button  class="btn btn-group-justified" ng-click="model.askTheExpert()" ng-show="currentUser" type="submit"><h4>Ask the Expert</h4></button>
    </div>
</div>-->

<div class="col-md-8 col-md-offset-2">

    <strong><h2>Timely and Effective Care Information</h2></strong>
    <table class="table table-bordered table-responsive">
        <thead>
        <tr>
            <th>Condition</th>
            <th>Measure Name</th>
            <th>Score</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="care in model.careInfo">
            <td>{{care.condition}}</td>
            <td>{{care.measure_name}}</td>
            <td>{{care.score}}</td>
        </tr>
        </tbody>
    </table>

</div>

<br>
<!--<div class="panel panel-primary col-sm-12">
    <div class="panel-heading">

    </div>

    <div class="panel-body">

    </div>

</div>-->
<br>
<div class="col-sm-8 col-sm-offset-2" ng-if="currentUser">
    <table class="table table-responsive">
        <thead>
        <tr>
            <th>Review</th>
            <th>Ratings (out of 5)</th>
            <td>Actions</td>

        </tr>

        </thead>
        <tbody>

        <tr>
            <td><input type="text" class="form-control" id="review" placeholder="Write Review" ng-model="model.review.description"/> </td>
            <td><input type="text" class="form-control" id="rating" placeholder="Rating out of 5" ng-model="model.review.rating"/> </td>
            <td class="action-column">
                <a ng-show="model.selectedReview" ng-click="model.unselectReview()" class="glyphicon glyphicon-remove btn btn-danger"></a>
                <a ng-hide="model.selectedReview" ng-click="model.addReview(model.review)" class="glyphicon glyphicon-plus btn btn-primary"></a>
                <a ng-show="model.selectedReview" ng-click="model.updateReview(model.review)" class="glyphicon glyphicon-ok btn btn-success"></a>
            </td>
        </tr>


        <tr ng-repeat="review in model.reviews">
            <td>{{review.review}}</td>
            <td>{{review.rating}}</td>
            <td class="action-column">
                <a ng-click="model.deleteReview(review)" class="glyphicon glyphicon-remove btn btn-danger"></a>&nbsp;
                <a ng-click="model.selectReview(review)" class="glyphicon glyphicon-cog btn btn-info"></a>
            </td>

        </tr>
        </tbody>
    </table>
</div>
