<div class="row search-text">
    <div class="col-sm-6">
        <h2>Enter City to Search for Hospitals</h2>
        <form>
            <div class="input-group input-group-lg">
                <input type="text" class="form-control input-lg" placeholder="e.g. Boston" ng-model="model.name"/>
                <span class="input-group-btn">
                    <a class="btn btn-info btn-lg" type="submit" ng-click="model.search(model.name)"><i class="fa fa-search"></i></a>
                </span>
            </div>
        </form>
    </div>
</div>
<br>
<div ng-show="model.message" class="alert alert-danger" role="alert">{{model.message}}</div>

<div class="panel panel-success" ng-show="model.hospitals">
    <div class="panel-heading"><h4>Search Results</h4></div>
    <div class="panel-body">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Provider ID</th>
            <th>Name</th>
            <th>Address</th>
            <th>Type</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="hospital in model.hospitals">
            <td><a href="#/details/{{hospital.provider_id}}">{{hospital.provider_id}}</a></td>
            <td>{{hospital.hospital_name}}</td>
            <td>{{hospital.address}}</td>
            <td>{{hospital.hospital_type}}</td>
        </tr>
        </tbody>
    </table>
    </div>
</div>