<div class="row search-text">
    <div class="col-sm-8 col-sm-offset-2">
        <h2>Enter City to Search for Hospitals</h2>
        <form>
            <div class="input-group input-group-lg">
                <input type="text" class="form-control input-lg" placeholder="e.g. Boston" ng-model="model.name"/>
                <span class="input-group-btn">
                    <a class="btn btn-info btn-lg" type="submit" ng-click="model.search(model.name)"><i class="fa fa-search"></i></a>
                </span>
            </div>
        </form>
        <br><br>
    </div>
</div>
<br>
<div ng-show="model.message" class="alert alert-danger col-sm-8 col-sm-offset-2" role="alert">{{model.message}}</div>

<div class="col-sm-8 col-sm-offset-2">

        <div ng-repeat="hospital in model.hospitals">
            <div class="panel panel-info col-sm-6">
                <div class="panel-heading text-center text-capitalize">{{hospital.hospital_name}}</div>
                <div class="panel-body">
                    <ul>
                        <li>Provider Id&nbsp;&nbsp;: <a href="#/details/{{hospital.provider_id}}">{{hospital.provider_id}}</a></li>
                        <li>Address&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: {{hospital.address}}</li>
                        <li>Type&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: {{hospital.hospital_type}}</li>
                        <li>Ownership&nbsp;&nbsp;: {{hospital.hospital_ownership}}</li>
                    </ul>
                </div>
            </div>
        </div>

</div>