<a ng-click="model.editField(field)" class="btn btn-warning" data-toggle="modal" data-target="#editField">
    <span class="glyphicon glyphicon-pencil"></span>
</a>
<a ng-click="model.duplicateField(field)" class="btn btn-success">
    <span class="glyphicon glyphicon-plus"></span>
</a>
<a ng-click="model.deleteField(field)" class="btn btn-danger">
    <span class="glyphicon glyphicon-remove"></span>
</a>
<a class="btn btn-info handle">
    <span class="glyphicon glyphicon-align-justify"></span>
</a>