<div class="container-fluid">
    <div class="row">

        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h1 class="page-header">Form : Registration Form</h1>
            <h2>{{model.form.title}}</h2>
            <div class="form-nav" ng-include="'views/forms/navigation.html'"></div>
            <br>

            <table class="table table-responsive">
                <tbody my-sortable my-sortable-callback="model.sortFields">
                <tr  ng-switch="field.type" ng-repeat="field in model.fields">
                    <td ng-switch-when="TEXT">
                        <label>{{field.label}}</label>
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="{{field.placeholder}}">
                            <div class="input-group-btn" ng-include="'views/forms/buttons.html'"></div>
                        </div>
                    </td>
                    <td ng-switch-when="TEXTAREA">
                        <label>{{field.label}}</label>
                        <div class="input-group">
                            <textarea class="form-control" placeholder="{{field.placeholder}}"></textarea>
                            <div class="input-group-btn" ng-include="'views/forms/buttons.html'"></div>
                        </div>
                    </td>
                    <td ng-switch-when="PASSWORD">
                        <label>{{field.label}}</label>
                        <div class="input-group">
                            <input type="password" class="form-control" placeholder="{{field.placeholder}}">
                            <div class="input-group-btn" ng-include="'views/forms/buttons.html'"></div>
                        </div>
                    </td>
                    <td ng-switch-when="EMAIL">
                        <label>{{field.label}}</label>
                        <div class="input-group">
                            <input type="email" class="form-control" placeholder="{{field.placeholder}}">
                            <div class="input-group-btn" ng-include="'views/forms/buttons.html'"></div>
                        </div>
                    </td>
                    <td ng-switch-when="DATE">
                        <label>{{field.label}}</label>
                        <div class="input-group">
                            <input type="date" class="form-control" placeholder="{{field.placeholder}}">
                            <div class="input-group-btn" ng-include="'views/forms/buttons.html'"></div>
                        </div>
                    </td>
                    <td ng-switch-when="DROPDOWN">
                        <label>{{field.label}}</label>
                        <div class="input-group">
                            <select class="form-control">
                                <option ng-repeat="op in field.options">{{op.label}}</option>
                            </select>
                            <div class="input-group-btn" ng-include="'views/forms/buttons.html'"></div>
                        </div>
                    </td>
                    <td ng-switch-when="CHECKBOX">
                        <label>{{field.label}}</label>
                        <div class="input-group">
                            <div class="checkbox">
                                <div ng-repeat="op in field.options">
                                    <label>
                                        <input type="checkbox" value="{{op.value}}">{{op.label}}
                                    </label>
                                    <br>
                                </div>
                            </div>
                            <div class="input-group-btn" ng-include="'views/forms/buttons.html'"></div>
                        </div>
                    </td>
                    <td ng-switch-when="RADIO">
                        <label>{{field.label}}</label>
                        <div class="input-group">
                            <div ng-repeat="op in field.options" class="radio">
                                <label>
                                    <input type="radio" name="{{field.label}}" value="{{op.value}}" checked>
                                    {{op.label}}
                                </label>
                            </div>
                            <div class="input-group-btn" ng-include="'views/forms/buttons.html'"></div>
                        </div>
                    </td>
                    <br>
                </tr>
                </tbody>
            </table>

            <hr>
            <label for="new-field">Add New Field:</label>
            <div class="input-group">
                <select ng-model="fieldType" class="form-control" id="new-field"
                        ng-options="option.name for option in model.options track by option.value"
                        ng-init="model.options[0]">

                    <option value="{{option.value}}">{{option.name}}</option>
                </select>
                <div class="input-group-btn">
                    <button ng-click="model.addField(fieldType.value)" type="button" class="btn btn-success">
                        <span class="glyphicon glyphicon-plus"></span>
                    </button>
                </div>
            </div>


            <div id="editField" class="modal fade" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">{{model.eField.header}}</h4>
                        </div>

                        <div class="modal-body" ng-switch on="model.eField.type">
                            <div ng-switch-when="TEXT">
                                <form>
                                    <label>Label</label>
                                    <input ng-model="model.eField.label" class="form-control" type="text"
                                           placeholder="Edit Label">
                                    <br>
                                    <label>Placeholder</label>
                                    <input ng-model="model.eField.placeholder" class="form-control" type="text"
                                           placeholder="Edit Placeholder">
                                </form>
                            </div>
                            <div ng-switch-when="TEXTAREA">
                                <form>
                                    <label>Label</label>
                                    <input ng-model="model.eField.label" class="form-control" type="text"
                                           placeholder="Edit Label">
                                    <br>
                                    <label>Placeholder</label>
                        <textarea ng-model="model.eField.placeholder" class="form-control"
                                  placeholder="Edit Placeholder"></textarea>
                                </form>
                            </div>
                            <div ng-switch-when="PASSWORD">
                                <form>
                                    <label>Label</label>
                                    <input ng-model="model.eField.label" class="form-control" type="text"
                                           placeholder="Edit Label">
                                    <br>
                                    <label>Placeholder</label>
                                    <input ng-model="model.eField.placeholder" class="form-control" type="password"
                                           placeholder="Edit Placeholder">
                                </form>
                            </div>
                            <div ng-switch-when="EMAIL">
                                <form>
                                    <label>Label</label>
                                    <input ng-model="model.eField.label" class="form-control" type="text"
                                           placeholder="Edit Label">
                                    <br>
                                    <label>Placeholder</label>
                                    <input ng-model="model.eField.placeholder" class="form-control" type="email"
                                           placeholder="Edit Placeholder">
                                </form>
                            </div>
                            <div ng-switch-when="DROPDOWN">
                                <form>
                                    <label>Label</label>
                                    <input ng-model="model.eField.label" class="form-control" type="text"
                                           placeholder="Edit Dropdown Label">
                                    <br>
                                    <label>Options</label>
                        <textarea ng-model="model.eField.optionText" class="form-control"
                                  placeholder="Edit Dropdown Options"></textarea>
                                </form>
                            </div>
                            <div ng-switch-when="DATE">
                                <form>
                                    <label>Label</label>
                                    <input ng-model="model.eField.label" class="form-control" type="text">
                                    <br>
                                </form>
                            </div>
                            <div ng-switch-when="RADIOS">
                                <form>
                                    <label>Label</label>
                                    <input ng-model="model.eField.label" class="form-control" type="text"
                                           placeholder="Edit Radio Label">
                                    <br>
                                    <label>Options</label>
                        <textarea ng-model="model.eField.optionText" class="form-control"
                                  placeholder="Edit Radio Options"></textarea>
                                </form>
                            </div>
                            <div ng-switch-default>
                                <form>
                                    <label>Label</label>
                                    <input ng-model="model.eField.label" class="form-control" type="text"
                                           placeholder="Edit Checkbox label">
                                    <br>
                                    <label>Options</label>
                        <textarea ng-model="model.eField.optionText" class="form-control"
                                  placeholder="Edit Checkbox options"></textarea>
                                </form>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button ng-click="model.commitEdit(model.eField)" type="button" class="btn btn-default"
                                    data-dismiss="modal">Confirm
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
